@model UsuarioModel
@{
    ViewData["Title"] = "Editar usuarios";
}

<div class="text-center">

    <h1 class="display-4">Editar usuario</h1>
    </br>
</div>

<form asp-controller="Usuario" asp-action="Alterar" method="post">
    <input type="hidden" asp-for="Id"></input>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Digite o nome do Usuario">
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o email do Usuario">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="form-group">
        <label for="celular">Telefone</label>
        <input type="text" asp-for="Phone" class="form-control" placeholder="Digite o Numero do Usuario">
        @Html.ValidationMessageFor(x => x.Phone)
    </div>
    </br>

    <button type="submit" class="btn btn-primary btn-block">Alterar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
</form>